<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>

  <body ng-app="myApp">

    <div ng-controller="UserController">
      <form>
        You are playing with lilly_lab's photos.
        <button ng-click="authenticateUser()">Click here to play with your own Instagram photos!</button>
      </form>
      <div ng-show="user.profilePicture"><img ng-src="{{user.profilePicture}}">You are playing with your own photos (@{{user.username}})</div>
    </div>

    <ul id="gameBoard" ng-controller="GameBoardController">
      <li class="card" ng-repeat="card in cards" ng-class="{faceup: isFaceUp(card), paired: isPaired(card)}">
        <img ng-show="isFaceUp(card) && !isPaired(card)" ng-src="{{card.images.low_resolution.url}}" />
        <div ng-show="!isFaceUp(card) && !isPaired(card)" ng-click="flipCard(card)"></div>
      </li>
    </ul>

  </body>
</html>
